@model NbdAplication.Models.Nbdstaff

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Nbdstaff</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StaffFirst)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StaffFirst)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StaffLast)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StaffLast)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Occupation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Occupation.Position)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sale)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sale.Sales)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Designer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Designer.Designers)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID" class="btn btn-outline-secondary">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
