@model NbdAplication.Models.Projects

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Projects</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstStart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstStart)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstEnd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstEnd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PSite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PSite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActStartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActStartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActEndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActEndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Client)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Client.ClientName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID" class="btn btn-outline-secondary">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
